/*
 1. Josh's Custom CSS Reset
    https://www.joshwcomeau.com/css/custom-css-reset/
 2. Andy's (more) Modern CSS Reset
    https://piccalil.li/blog/a-more-modern-css-reset/
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding in favour of better control in authored CSS */
* {
  margin: 0;
  padding: 0;
}

/* Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

/* 1. Prevent font size inflation
   2. Set height of html node to 100% */
html {
  -moz-text-size-adjust: none; /* 1 */
  -webkit-text-size-adjust: none; /* 1 */
  text-size-adjust: none; /* 1 */
  height: 100%; /* 2 */
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100svh; /* The body element is at least as tall as the html element, allowing it to grow with content. */
  line-height: 1.5; /* Add accessible line-height */
  -webkit-font-smoothing: antialiased; /* Improve text rendering */
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
  text-wrap: pretty;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}
